-# this file is /views/movies/index.html.haml

hi

%h2 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Edit
      %th Delete
  %tbody
    - @movies.each do |m|
      %tr
        %td= m.title
        %td= m.rating
        %td= m.release_date
        %td= link_to "Read more about #{m.title}", movie_path(m)
        %td= link_to "Edit movie", edit_movie_path(m)
        %td= button_to "Delete", movie_path(m), :method => :delete, data: { confirm: "Are you sure?" }

= link_to "Add new movie", new_movie_path()
      

