%h2 Create New Movie

= form_tag movies_path do

  = label :movie, :title, 'Title'
  = text_field :movie, :title

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17']       #OR     Movie.all_ratings

  = label :movie, :relase_date, 'Released On'
  = date_select :movie, :release_date

  %br

  = submit_tag "Save Changes"
